
body	{
		background-color: #d2b48c;
		margin-left: 20%;
		margin-right: 20%;
		border: none;
		padding: 10px 10px 10px 10px;
		font-family: Arial, Verdana, Geneva, sans-serif;
		font-size: medium;
}

h1, h2, h3	{
		
		color:       	maroon;
}

h1	{
		font-size:1.5em;
		font-weight: bold;
		border-bottom: 1px solid black;
}

h2	{
		font-size:1.2em
}

h3	{
		font-size:1.1em;
		font-style:		italic;
		font-family:		Georgia, "Times New Roman", Times, serif;
}


img	{
		width: 600px; 
		height: 450px;
}

p	{
		
		color: maroon;
}


a:link		{
		color:			#0000ff;
}
a:visited	{
		color:			#9370db;
}
a:hover		{
		background:		#ffff00;
		color:			#0000ff;
}

#holidays {
		width: 			200px;
		float: 			right;		
		border-color:		#a52a2a;
		border-width: 		thin;
		border-style: 		solid;
                color:                  black;
		margin:                 20px;
		padding:                20px;
}
#index {
		line-height:		2.0em;		
		width: 			75px;
		float: 			left;
		background-color:	#d2b48c;		
		border-color:		#a52a2a;
		border-width: 		thin;
		border-style: 		solid;
                color:                  black;
		margin:                 20px;
		padding:                20px;
}


li, dt, dd	{
		color: maroon;
}

em	{
		font-family: Georgia, Times, "Times New Roman", serif;
}

		
.poetry	{
		line-height:		1.9em;
		font-style:		italic;
		font-family:		Georgia, "Times New Roman", Times, serif;
		border-color:		white;
		border-width: 		1px;
		border-style: 		dashed;
		background-color: 	#fff8dc;
		color:			#d2b48c;
		padding:		25px;
		padding-left:		80px;
		margin:			30px;
		margin-right:		150px;
		background-image:	url(./images/background.gif);
		background-repeat:	no-repeat;
		background-position:	top left;
}
.thumb	{
		width: 200px; 
		height: 150px;
}

#tiny	{
		width: 88px; 
		height: 31px;
}
#footer	{
		font-size:		0.6em;
		color:       	#008000;
}


